{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Elvery - เพราะเราแนะนำอาหารดี ๆ ได้ทุกวัน</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login-style.css' %}">
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap' %}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/โลโก้2.png' %}">

</head>
<body>
	
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method="POST" action="">
                    {% csrf_token %}
					<label for="chk" aria-hidden="true">ลงทะเบียน</label>
					<input type="text" name="txt" placeholder="ชื่อผู้ใช้" required="">
					<input type="email" name="email" placeholder="อีเมล" required="">
					<input type="password" name="password" placeholder="รหัสผ่าน" required="">
					<button class="btn btn-success" type="submit">ลงทะเบียน</button>
				</form>
			</div>
			
			<div class="login">
				<form method="POST" action="">
					{% csrf_token %}
					<label for="chk" aria-hidden="true">เข้าสู่ระบบ</label>
					<input type="email" name="email" placeholder="อีเมล" required="">
					<input type="password" name="pswd" placeholder="รหัสผ่าน" required="">
					<button class="btn btn-success" type="submit">เข้าสู่ระบบ</button> 
				</form>
			</div>
	</div>
</body>
</html>

